Makefile*
*.*pro*.user*
*.[oa]
*.so*
*.dll
*.exe
*.rc
*.out

#vc files
*.ncb
*.pdb
*.layout
*.suo
*.idb
*.obj
*.dep
*.manifest

#dirs
.moc
.rcc
.obj
/bin*
/lib*
Debug
Release
*.Debug
*.Release

*.fuse*
