[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PhotoKit
Exec=/usr/bin/invoker --single-instance --type=q /opt/PhotoKit/bin/PhotoKit_harmattan_armv6
Icon=/usr/share/icons/hicolor/80x80/apps/PhotoKit.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
